header {
    background-image: url('https://github.com/owennigel1/owennigel1.github.io/blob/main/resources/images/pattern.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.subheader{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.backgreen{
    background-color: mediumspringgreen;
}

.backred{
    background-color: lightcoral;
}

.backblue{
    background-color: skyblue;
}

.blue{
    color: blue;
    font-weight: bold;
    font-family: Helvetica;
}
